
<div style="margin-top: -97px;">
    <div class="row justify-content-md-center text-center">
        <div class="col col-3 bg-white habilidades" style="border-radius:15px 0 15px 0; box-shadow:0 5px 5px 0 gray;">
            <i class="bi bi-hdd"></i>
            <h3>Back-end</h3>
            <p>
                Estudiante de TIC´S Desarrollador de Software Multiplataforma
            </p>
            <p class"text-primary cabecera">
                Stack:
            </p>
            <p>
                Asp.Net, Asp.Net Core, WebForms, Aspex, SQL Server, WindowsForms
            </p>
            <p class="text-primary cabecera">
                Experiencia:
            </p>
            <ul>
                <li>Web APIs</li>
                <li>Asp.Net Core</li>
                <li>MVC 5 Netframework</li>
                <li>Entity Framework Core</li>
            </ul>
        </div>
        <div class="col col-3 bg-white habilidades" style="border-radius: 0 15px 15px 0; box-shadow:0 5px 5px 0 gray;">
            <i class="bi bi-code-slash"></i>
            <h3>Frontend</h3>
            <p>
                Puedo crear front-ends robustos que cumplan con los requerimientos del negocio.
            </p>
            <p class"text-primary cabecera">
                Stack:
            </p>
            <p>
                VueJs, Angular, JQuery, Fetch, Ajax, Axios
            </p>
            <p class="text-primary cabecera">
                Experiencia:
            </p>
            <ul>
                <li>Vuetify</li>
                <li>Angular Material</li>
                <li>Redux</li>
                <li>Test Automatizados</li>
            </ul>
        </div>
    </div>
</div>