<div class=" container mt-5 mb-5">
    <div class="row">
        <div class="col-md-6 offset-md-3">
            <h4>Desarrollo e Ingenieria Profesional</h4>
            <ul class="timeline">
                <li>
                    <a target="_blank" href="">Arquitecto Desarrollador en Net 7</a>
                    <a href="#" class="float-right">21 Enero, 2022</a>
                    <p>
                        Desarrollo e Implementacion de la plataforma Web para el
                        Activismo Politico y Votacion Electoral Municipal (SAPVM).
                    </p>
                </li>
                <li>
                    <a target="_blank" href="">Arquitecto Desarrollador en Net 7</a>
                    <a href="#" class="float-right">21 Enero, 2022</a>
                    <p>
                        Desarrollo e Implementacion de la plataforma Web para el
                        Activismo Politico y Votacion Electoral Municipal (SAPVM).
                    </p>
                </li>
                <li>
                    <a target="_blank" href="">Arquitecto Desarrollador en Net 7</a>
                    <a href="#" class="float-right">21 Enero, 2022</a>
                    <p>
                        Desarrollo e Implementacion de la plataforma Web para el
                        Activismo Politico y Votacion Electoral Municipal (SAPVM).
                    </p>
                </li>
                <li>
                    <a target="_blank" href="">Arquitecto Desarrollador en Net 7</a>
                    <a href="#" class="float-right">21 Enero, 2022</a>
                    <p>
                        Desarrollo e Implementacion de la plataforma Web para el
                        Activismo Politico y Votacion Electoral Municipal (SAPVM).
                    </p>
                </li>
            </ul>
        </div>
    </div>
</div>